<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>
<body>

<h2>Product Manager</h2>

<h3><a href="/new_product">create New Product</a></h3>

<table border="1" cellpadding="10">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Brand</th>
        <th>Made In</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <tr th:each="product: ${listProducts}">
        <td  th:text="${product.id}"> Product Id</td>
        <td  th:text="${product.name}">Product Name</td>
        <td  th:text="${product.brand}">Product Brand</td>
        <td  th:text="${product.madein}">Made In</td>
        <td  th:text="${product.price}">Price</td>
        <td>
            <a th:href="@{'/edit/' + ${product.id}}">Edit</a>
        </td>
        <td>
            <a th:href="@{'/delete/' + ${product.id}}">Delete</a>
        </td>
    </tr>

</table>


</body>
</html>