<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
</head>
<body>

<h2>Create New product</h2>

<h3>create New Product</h3>

<form action="#" th:action="@{/save}" method="post">
    <table border="0" data-th-accept="10">
        <tr>
            <td> Product Name:</td>
            <td><input type="text" th:value="${product.name}"></td>
        </tr>
        <tr>
            <td> Brand:</td>
            <td><input type="text"  th:value="${product.brand}"></td>
        </tr>
        <tr>
            <td> Made In:</td>
            <td><input type="text"  th:value="${product.madein}"></td>
        </tr>
        <tr>
            <td> price:</td>
            <td><input type="text"  th:value="${product.price}"></td>
        </tr>

        <tr>
            <td colspan="2"><button type="submit">Save</button></td>
        </tr>

    </table>


</form>


</body>
</html>